@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $prof, $diff, $color) {
    -webkit-box-shadow: $top $left $prof $diff $color;
       -moz-box-shadow: $top $left $prof $diff $color;
        -ms-box-shadow: $top $left $prof $diff $color;
         -o-box-shadow: $top $left $prof $diff $color;
            box-shadow: $top $left $prof $diff $color;

    filter:progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=135, Strength=8);
}

@mixin transition($properties, $duration, $method) {
    -webkit-transition: $properties $duration $method;
       -moz-transition: $properties $duration $method;
        -ms-transition: $properties $duration $method;
         -o-transition: $properties $duration $method;
            transition: $properties $duration $method;
}


// Colors
$menuFooterColor: #1d064b;
$stratFirstBackgroundColor: #F8F2F2;
$stratSecondBackgroundColor: #FFFFFF;
$buttonColor: #1d064b;
$fontColor: #1d064b;
$secondFontColor: #000000;
$hoverColor: #ffed0a;

// Fonts
$fontTitle: 'latobold';
$fontContent: 'lustriaregular';